agents/meridian/n8n-workflow.json
{
  "name": "MERIDIAN - Daily Intelligence Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://signaic.com/api/v1/agents/meridian",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "fullResponse": true
        }
      },
      "id": "http-request",
      "name": "Generate Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AGENT_SECRET_KEY_CREDENTIAL_ID",
          "name": "Signaic Agent Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "MERIDIAN <agents@signaic.com>"
            },
            {
              "name": "to",
              "value": "ryan@signaic.com"
            },
            {
              "name": "subject",
              "value": "MERIDIAN ALERT: Briefing Generation Failed"
            },
            {
              "name": "html",
              "value": "<h2>MERIDIAN Briefing Generation Failed</h2><p>Time: {{ $now.toISO() }}</p><p>Error: {{ $json.error || 'Unknown error' }}</p><p>Check the agent logs at signaic.com/dashboard/agents for details.</p>"
            }
          ]
        }
      },
      "id": "send-error-email",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RESEND_API_KEY_CREDENTIAL_ID",
          "name": "Resend API Key"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Briefing": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  }
}
